{% extends "base.html" %}


{% block title %}
Contact - ChotguyTweets
{% endblock %}

{% block maincontent %}
    
    <div class="ppCenterColumn">
      
      <h2>Contact</h2>

      <p>Please feel free to get in touch. The best contact methods are as follows:

      <ul style="padding-top:10px">
            <li>Email: <a href="mailto:lacy@tweetlanes.com">lacy@ChotguyTweets.com</a></li>
            <li>Twitter: <a href="http://twitter.com/chrismlacy">@niceseb</a></li>
      </ul>

      </p>
    </div>

    <div style="clear:both;"></div>

{% endblock %}