{% extends "base.html" %}


{% block title %}
Privacy Policy - ChotguyTweets
{% endblock %}

{% block maincontent %}
    
    <div class="ppCenterColumn">
      
      <h2>Privacy Policy</h2>

      <div id="landingPageDescrip" style="padding-top:10px">
        <p ><strong>Version 1.0</strong></p>
        <p style="padding-bottom:10px;"><strong>Effective on June 9, 2012</strong></p>
        <p>This privacy statement describes how <strong>Digital Ashes</strong> collects and uses the personal information you provide.  It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.</p>
      </div>
      <br><br>

      <div class="ppSectionHeader">Location Services</div>

      <strong>Some services on this site make use of location-based data. If you allow these services, we will collect information about the Wi-fi routers closest to you and the cell IDs of the towers closest to you.<br><br>We use this information to provide the requested location-based service, not to identify you. You will be asked for your permission each time a location-based service is requested.</strong>
      <ul>
        <li>Provide you content based upon your location.</li>
        <li>Check you in to a store or other location to enable you to earn loyalty rewards or let others know where you are.</li>
        <li>Enable you to share your location with friends.</li>
      </ul>
      <br /><br /><br />

      <div class="ppSectionHeader">Collection and Use</div>
      <strong>We collect the following personal information from you:</strong>
      <ul>
        <li>Usage activity about how you interact with us such as purchase history, what content you viewed, and which areas of our app you visited.</li>
        <li>Device Information</li>
      </ul>
      <p>As is true of most Web sites and mobile applications, we automatically gather information about your computer such as your IP address, browser type, referring/exit pages, and operating system.</p>
      <br><p><strong>We use this information to:</strong></p>
      <ul>
        <li>Conduct research and analysis</li></ul><br />
      <strong>Social Networks</strong>
      <p>We enable you to share information such as messages, photos, and videos with others within your Twitter account. We cannot control the actions of others with whom you may choose to share your pages and information. Also we cannot guarantee that the content you post on our site will not be viewed by others outside your network.</p>
      <br><br /><br />

      <div class="ppSectionHeader">Sharing Your Information</div>
      <p>We will share your information with third parties only in the ways that are described in this privacy statement.</p><br>
      <strong>We may disclose your personal information</strong>
      <ul>
        <li>as required by law, such as to comply with a subpoena, or similar legal process.</li>
        <li>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</li>
        <li>if Digital Ashes is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information.</li>
        <li>to any other third party with your prior consent to do so.</li>
      </ul>
      <br /><br /><br />

      <div class="ppSectionHeader">Tracking and Ads</div>
      <p>We or a third party contracted by us may use technologies such as cookies, Web beacons, or scripts to gather information about how you and others interact with our Web site and/or application(s). For example, we will know how many users access a specific areas or features within our site and which links or ads they clicked on. We use this aggregated information to understand and optimize how our application is used, improve our marketing efforts, and provide content and features that are of interest to you.</p>
      <br /><br /><br />

      <div class="ppSectionHeader">Security</div>
      <p>The security of your personal information is important to us.  We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it.  No method of transmission over the Internet, or method of electronic storage, is 100% secure.  Therefore, we cannot guarantee its absolute security.
        <br>
        <br>If you have any questions about security on our Web site, you can contact us at <a href="mailto:contact@tweetlanes.com">contact@ChotguyTweets.com</a>.</p><br>
      <p>We will retain your information for as long as your account is active or as needed to provide you services. If you wish to cancel your account or request that we no longer use your information to provide you services contact us at <a href="mailto:contact@tweetlanes.com">contact@ChotguyTweets.com</a>. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
      </p>
      <br /><br /><br />

      <div class="ppSectionHeader">Other Information</div>
      <p>To review and update your personal information to ensure it is accurate, contact us at <a href="mailto:contact@tweetlanes.com">contact@ChotguyTweets.com</a>.</p><br>
      <strong>Notification of Privacy Statement Changes</strong>
      <br><br>
      <p>We may update this privacy statement to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.</p>
      <br /><br /><br />

      <div class="ppSectionHeader">Contact</div>
      <p>You can contact us about this privacy statement by contacting us through the following methods:
        <br>Email: <a href="mailto:contact@tweetlanes.com">contact@ChotguyTweets.com</a>
        <br>Twitter: <a href="http://twitter.com/TweetLanes">@ChotguyTweets</a></p>
    </div>

    <div style="clear:both;"></div>

{% endblock %}