{% extends "base.html" %}


{% block title %}
Terms of Service - ChotguyTweets
{% endblock %}

{% block maincontent %}
    
    <div class="ppCenterColumn">
      
      <h2>Terms of Service</h2>


  <div style="padding-top:10px">
  <p ><strong>Version 1.0</strong></p>
  <p style="padding-bottom:10px;"><strong>Effective on June 9, 2012</strong></p>
  <br><br>
<p class="ppSectionHeader">Terms</p>

      By accessing this web site and/or the ChotguyTweets mobile application(s), you are agreeing to be bound by these
      Terms and Conditions of Use, all applicable laws and regulations, 
      and agree that you are responsible for compliance with any applicable local 
      laws. If you do not agree with any of these terms, you are prohibited from 
      using or accessing this site. The materials contained in this web site are 
      protected by applicable copyright and trade mark law.
  <br /><br /><br />

<p class="ppSectionHeader">Use License</p>
      <p>
            Purchases of Digital Ashes mobile applications on the Android platofrm (either through an initial payment, in-app purcahses or other means) may be refundable for a short time period in accordance with the application store's refund policy. Once this time period elapses, all purchases are 100% non-refundable.
            Digital Ashes is in no way responsible for handling these refunds.
      </p><br>
      <p>
            Permission is granted to use the ChotguyTweets mobile application. This is the grant of a license,
            not a transfer of title, and under this license you may not:
            
            <ul type="i">
                  <li>modify or copy the materials;</li>
                  <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                  <li>attempt to decompile or reverse engineer any software contained on Digital Ashes's web site(s), or mobile application(s);</li>
                  <li>remove any copyright or other proprietary notations from the materials; or</li>
                  <li>transfer the materials to another person or "mirror" the materials on any other server or in another application.</li>
            </ul>
      </p>
      <p>
            This license shall automatically terminate if you violate any of these restrictions and may be terminated by Digital Ashes at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
      </p>
</ul>
<br /><br />

<p class="ppSectionHeader">Disclaimer</p>

            The Tweet Lans application is provided "as is". Digital Ashes makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, 
    including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. 
    Further, Digital Ashes does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials int Its applications(s) or otherwise 
    relating to such materials or on any sites linked to this application.
<br /><br /><br />

<p class="ppSectionHeader">Limitations</p>
      In no event shall Digital Ashes or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability 
  to use the materials on Digital Ashes's application(s), even if Digital Ashes or a Digital Ashes authorized representative has been notified orally or in writing of the possibility of 
  such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may 
  not apply to you.
  <br /><br /><br />
                  
<p class="ppSectionHeader">Revisions and Errata</p>
      The materials appearing on Digital Ashes's web site(s) and application(s) could include technical, typographical, or photographic errors. Digital Ashes does not warrant that any of the materials on its web site 
  are accurate, complete, or current. Digital Ashes may make changes to the materials contained on its web site at any time without notice. Digital Ashes does not, however, 
  make any commitment to update the materials.
  <br /><br /><br />

<p class="ppSectionHeader">Links</p>
      Digital Ashes has not reviewed all of the sites linked to via its mobile application(s) and is not responsible for the contents of any such linked site. The inclusion of any link does 
  not imply endorsement by Digital Ashes of the site. Use of any such linked web site is at the user's own risk.
  <br /><br /><br />

<p class="ppSectionHeader">Site Terms of Use Modifications</p>
      Digital Ashes may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of 
  these Terms and Conditions of Use.
  <br /><br /><br />

<p class="ppSectionHeader">Governing Law</p>
      Any claim relating to Digital Ashes's web site(s) shall be governed by the laws of Australia without regard to its conflict of law provisions.
  <br />
  <center>
    <div style='font-size:7pt; font-family:Arial; color:gray; text-decoration:none;padding: 60px 0px 20px;'>
      Terms of Service created with the help of Ben Nadel's <a style='color:#3C3C3C; text-decoration:none;' href='http://www.bennadel.com/coldfusion/privacy-policy-generator.htm'target='_blank'>Terms of Service</a> generator.</div>
    </center>
</div>



    <div style="clear:both;"></div>

{% endblock %}